[submodule ".vim/bundle/Colorizer"]
	path = .vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/bundle/exuberant-ctags"]
	path = .vim/bundle/exuberant-ctags
	url = https://github.com/jakedouglas/exuberant-ctags.git
[submodule ".vim/bundle/jay"]
	path = .vim/bundle/jay
	url = https://github.com/josuegaleas/jay.git
[submodule ".vim/bundle/lbnf.vim"]
	path = .vim/bundle/lbnf.vim
	url = https://github.com/vim-scripts/lbnf.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tslime.vim"]
	path = .vim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-ebnf"]
	path = .vim/bundle/vim-ebnf
	url = https://github.com/killphi/vim-ebnf.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-rspec"]
	path = .vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule ".vim/bundle/vim-ruby-refactoring"]
	path = .vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
